html {font-size: 100%;} /*16px*/

:root {
	--ratio: 1.25;
	--size0: 1rem;
	--size1: calc(var(--ratio) * var(--size0));
	--size2: calc(var(--ratio) * var(--size1));
	--size3: calc(var(--ratio) * var(--size2));
	--size4: calc(var(--ratio) * var(--size3));
	--size5: calc(var(--ratio) * var(--size4));

	--size-1: calc(var(--size0) / var(--ratio));
}

