<header class="main-header cluster">
	{% if slug == 'home' %} 
		<a class="current" href="/">home</a>
	{% else %}
		<a href="/">home</a>
	{% endif %}

	{% for item in site.menu %}
		{% if slug == item.text %} 
			<a class="current" href="{{ item.path }}" > {{ item.text }} </a>
		{% else %}
			<a href="{{ item.path }}" > {{ item.text }} </a>
		{% endif %}
	{% endfor %}

</header>

