.main-header {
	border-bottom: 2px dashed gray;

	& a {
		padding: .5em;
	}

	& a.current::before {
		content: "[ ";
	}

	& a.current::after {
		content: " ]";
	}

	& a.current { text-decoration: none; }
}

